<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - CyberTube</title>
    <meta name="description" content="First Hacking Youtube">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/css/styles.min.css">
</head>
              

<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-md navbar navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><button data-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-target="#navbarResponsive-1" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu"><i class="fa fa-bars"></i></button>
            <img src="/img/logo.png" style="width: 163px;">
        </div>
    </nav> 
    <header class="masthead" style="background-color: rgba(255,255,255,0);width: 100%;height: 981px;padding-top: 0px;padding-bottom: 0px;">
        <div class="text-center intro-body" style="opacity: 1;background-image: url(&quot;/img/bg-masthead.jpg&quot;);width: 521px;">
            <div class="caption v-middle text-center">
                <h1 class="cd-headline clip">
                    <span style="font-family: Aldrich, sans-serif;font-size: 100px " class="blc">DELETE</span>
                    <span class="cd-words-wrapper">
                  <b style="font-family: Aldrich, sans-serif;font-size: 100px ;margin-top:7px;" class="is-visible">COMPLETED </b>
                  <b style="font-family: Aldrich, sans-serif;font-size: 100px;margin-top:7px; ">FINISHED</b>
                  
                </span>
                    <span class="blinking">|</span>
                </h1>
            </div>
            <a href="/" style="border-color: rgb(0,0,0);color: rgb(19,230,152);background: #221515;font-size: 50px">RETURN HOME</a>
        </div>
    </header>
    
            <section id="contact" class="content-section text-center" style="padding-top: 115px;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <h2>Contact us</h2>
                            <p>Si crees que algo debe cambiar no dudes en contactar con nosotros :D </p>
                            <ul class="list-inline banner-social-buttons">
                                <li class="list-inline-item">&nbsp;<button class="btn btn-primary btn-lg btn-default" type="button"><i class="fa fa-google-plus fa-fw"></i><span class="network-name">&nbsp; Google+</span></button></li>
                                <li class="list-inline-item">&nbsp;<button class="btn btn-primary btn-lg btn-default" type="button"><i class="fa fa-twitter fa-fw"></i><span class="network-name">&nbsp;Twitter</span></button></li>
                                <li class="list-inline-item">&nbsp;<button class="btn btn-primary btn-lg btn-default" type="button"><i class="fa fa-github fa-fw"></i><span class="network-name">&nbsp;github</span></button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <div class="footer-basic" style="margin-right: 0px;width: 100%;margin-top: 41px;background: rgb(255,255,255);color: rgb(255,255,255);height: 85px;min-width: -2px;padding-bottom: -12px;padding-top: -57px;">
                <footer style="background: #000000;font-family: Aldrich, sans-serif;height: 263px;padding-top: -61;padding-bottom: 28;margin-top: -43px;">
                    <div class="social" style="color: rgb(255,255,255);"><a href="https://www.instagram.com/coronaware.cybertube"><i class="icon ion-social-instagram" style="color: #ffffff;"></i></a><a href="https://twitter.com/CyberTube6"><i class="icon ion-social-twitter"></i></a></div>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="/">Home</a></li>
                        <li class="list-inline-item"><a href="#">Services</a></li>
                        <li class="list-inline-item"><a href="#">About</a></li>
                        <li class="list-inline-item"><a href="#">Terms</a></li>
                        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                    </ul>
                    <p class="copyright">CoronaWare © 2020</p>
                </footer>
            </div>
            <script src="/js/jquery.min.js"></script>
            <script src="/bootstrap/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
            <script src="/js/script.min.js"></script>
</body>

</html>

