<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - CyberTube</title>
    <meta name="description" content="First Hacking Youtube">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/css/styles.min.css">
</head>

<body id="page-top" style="width: 100%;">
    <nav class="navbar navbar-light navbar-expand-md text-capitalize navbar navbar-expand-lg fixed-top" id="mainNav" style="width: 100%;">
        <div class="container"><button data-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-target="#navbarResponsive-1" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu"><i class="fa fa-bars"></i></button>
            <img src="/img/logo.png" style="width: 163px;">
            <div class="collapse navbar-collapse text-uppercase" id="navbarResponsive-1" style="font-family: Aldrich, sans-serif;">
                <ul class="nav navbar-nav ml-auto" style="color: rgb(255,255,255);">
                    <li class="nav-item nav-link js-scroll-trigger"><a class="nav-link js-scroll-trigger" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} or ${check} == true" href="/admin" style="color: rgb(255,255,255);">Admin Page</a></li>
                    <li class="nav-item nav-link js-scroll-trigger"><a class="nav-link js-scroll-trigger" sec:authorize="isAuthenticated()" href="/profile" style="color: rgb(255,255,255);">Profile</a></li>
                    <li class="nav-item nav-link js-scroll-trigger"><a class="nav-link active js-scroll-trigger" href="/" style="font-family: Aldrich, sans-serif;background: rgba(0,0,0,0);">HOME</a></li>
                    <li class="nav-item nav-link js-scroll-trigger"><a class="nav-link js-scroll-trigger" href="/videos" style="color: rgb(255,255,255);">Videos</a></li>
                    <li class="nav-item nav-link js-scroll-trigger"><a class="nav-link js-scroll-trigger" href="/articles" style="color: rgb(255,255,255);">aRTICLES</a></li>
                    <li class="nav-item nav-link js-scroll-trigger"><a class="nav-link js-scroll-trigger" href="/#contact" style="color: rgb(255,255,255);">cONTACT US</a></li>
                    <li class="nav-item nav-link js-scroll-trigger"><a class="nav-link js-scroll-trigger" href="/help" style="color: rgb(255,255,255);">HELP</a></li>
                    <li class="nav-item nav-link js-scroll-trigger" sec:authorize="isAuthenticated()"><a class="nav-link js-scroll-trigger" href="/logout" style="color: rgb(255,255,255);">LogOut</a></li>
                    <li class="nav-item nav-link js-scroll-trigger" sec:authorize="!isAuthenticated()"><a class="nav-link js-scroll-trigger" href="/login" style="color: rgb(255,255,255);">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="article-clean" style="margin: -4px;padding: 0;height: auto;width: 100%;margin-bottom: -41px;margin-left: 0px;margin-top: 97px;">
        <div class="container" style="padding-top: -79px;">
            <div class="row" style="margin: 93px;">
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="row" style="margin: 93px;padding-top: 0px;margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;">
            <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2" style="font-family: Aldrich, sans-serif;width: 100%;height: auto;margin-top: -45px;">
                <div class="intro"></div>


                <form class="bootstrap-form-with-validation" th:object="${article}" th:action=@{/updateArticle/}+${article.articleID} method="post">


                    <h2 class="text-center">Modify an Article</h2>
                    <div class="form-group"><label for="text-input">Title</label><input th:value="${article.articleTitle}" class="form-control" type="text" id="text-input" name="title"></div>
                    <div class="form-group"><label for="email-input">Description</label><input th:value="${article.articleDescription}" class="form-control" type="text" id="email-input" name="description"></div>
                    <div class="form-group">
                        <p>Content</p>
                        <textarea name="content" id="editor" rows="10" cols="80" th:text="${article.articleContent}"></textarea>
                        <script src="/ckeditor/ckeditor.js"></script>
                        <script>
                            CKEDITOR.replace('editor', {
                                name: "content"
                            });
                        </script>
                    </div>
                    <div class="form-group">
                        <div class="field"><select class="form-control" name="categories" multiple><option value="Windows" selected="">Windows</option><option value="Linux">Linux</option><option value="Osint">Osint</option></optgroup></select>
                            <label class="mb-0" for="float-input">Categories</label>
                        </div>
                    </div>
                    <div class="form-group"><button class="btn btn-primary" type="submit">send</button></div>
                </form>
            </div>
        </div>
    </div>
    <div class="footer-basic" style="margin-right: 0px;width: 100%;margin-top: 41px;background: rgb(255,255,255);color: rgb(255,255,255);height: 85px;min-width: -2px;padding-bottom: -12px;padding-top: -57px;">
        <footer style="background: #000000;font-family: Aldrich, sans-serif;height: 263px;padding-top: -61;padding-bottom: 28;margin-top: -43px;">
            <div class="social" style="color: rgb(255,255,255);"><a href="https://www.instagram.com/coronaware.cybertube"><i class="icon ion-social-instagram" style="color: #ffffff;"></i></a><a href="https://twitter.com/CyberTube6"><i class="icon ion-social-twitter"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="/">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">CoronaWare © 2020</p>
        </footer>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="/js/script.min.js"></script>
</body>

</html>